# ignore all files...
*.*
# except
!*.py
!*.m
!./README.md
!/MERFISH_Examples2/MERFISH_Examples2/codebookMusmusculusHypothalamus_v01.csv
!/MERFISH_Examples2/readoutsHypothalamus.fasta
!/MERFISH_Examples2/Mus_musculus_proxy.fpkm_tracking
# Schnitzer Lab
## documents
!/codebook_construction/README.md
!/codebook_construction/requirements.txt
## templates
!/codebook_construction/16bit.mhd4.txt
!/codebook_construction/AllReadouts.fasta
!/codebook_construction/FwdPrimers.fasta
!/codebook_construction/RevPrimers.fasta
!/codebook_construction/RevPrimersT7.fasta
!/codebook_construction/E-MTAB-6798-query-results.tpms.tsv
## examples
!/codebook_construction/gene_list_example.tsv